@font-face {
  font-family: "Shabnam FarsiNumerals";
  font-style: normal;
  font-weight: 100;
  src: url("~/assets/font/Shabnam/FarsiNumerals/woff2/Shabnam-Thin-FD.woff2")
      format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/
      url("~/assets/font/Shabnam/FarsiNumerals/woff/Shabnam-Thin-FD.woff")
      format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url("~/assets/font/Shabnam/FarsiNumerals/ttf/Shabnam-Thin-FD.ttf")
      format("truetype");
}
@font-face {
  font-family: "Shabnam FarsiNumerals";
  font-style: normal;
  font-weight: 300;
  src: url("~/assets/font/Shabnam/FarsiNumerals/woff2/Shabnam-Light-FD.woff2")
      format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/
      url("~/assets/font/Shabnam/FarsiNumerals/woff/Shabnam-Light-FD.woff")
      format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url("~/assets/font/Shabnam/FarsiNumerals/ttf/Shabnam-Light-FD.ttf")
      format("truetype");
}
@font-face {
  font-family: "Shabnam FarsiNumerals";
  font-style: normal;
  font-weight: 400;
  src: url("~/assets/font/Shabnam/FarsiNumerals/woff2/Shabnam-FD.woff2")
      format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/
      url("~/assets/font/Shabnam/FarsiNumerals/woff/Shabnam-FD.woff")
      format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url("~/assets/font/Shabnam/FarsiNumerals/ttf/Shabnam-FD.ttf")
      format("truetype");
}
@font-face {
  font-family: "Shabnam FarsiNumerals";
  font-style: normal;
  font-weight: 500;
  src: url("~/assets/font/Shabnam/FarsiNumerals/woff2/Shabnam-Medium-FD.woff2")
      format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/
      url("~/assets/font/Shabnam/FarsiNumerals/woff/Shabnam-Medium-FD.woff")
      format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url("~/assets/font/Shabnam/FarsiNumerals/ttf/Shabnam-Medium-FD.ttf")
      format("truetype");
}
@font-face {
  font-family: "Shabnam FarsiNumerals";
  font-style: normal;
  font-weight: 700;
  src: url("~/assets/font/Shabnam/FarsiNumerals/woff2/Shabnam-Bold-FD.woff2")
      format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/
      url("~/assets/font/Shabnam/FarsiNumerals/woff/Shabnam-Bold-FD.woff")
      format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url("~/assets/font/Shabnam/FarsiNumerals/ttf/Shabnam-Bold-FD.ttf")
      format("truetype");
}
@font-face {
  font-family: "Shabnam WebFonts";
  font-style: normal;
  font-weight: 100;
  src: url("~/assets/font/Shabnam/WebFonts/woff2/Shabnam-Thin.woff2")
      format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/
      url("~/assets/font/Shabnam/WebFonts/woff/Shabnam-Thin.woff")
      format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url("~/assets/font/Shabnam/WebFonts/ttf/Shabnam-Thin.ttf")
      format("truetype");
}
@font-face {
  font-family: "Shabnam WebFonts";
  font-style: normal;
  font-weight: 300;
  src: url("~/assets/font/Shabnam/WebFonts/woff2/Shabnam-Light.woff2")
      format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/
      url("~/assets/font/Shabnam/WebFonts/woff/Shabnam-Light.woff")
      format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url("~/assets/font/Shabnam/WebFonts/ttf/Shabnam-Light.ttf")
      format("truetype");
}
@font-face {
  font-family: "Shabnam WebFonts";
  font-style: normal;
  font-weight: 400;
  src: url("~/assets/font/Shabnam/WebFonts/woff2/Shabnam.woff2") format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/
      url("~/assets/font/Shabnam/WebFonts/woff/Shabnam.woff") format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url("~/assets/font/Shabnam/WebFonts/ttf/Shabnam.ttf") format("truetype");
}
@font-face {
  font-family: "Shabnam WebFonts";
  font-style: normal;
  font-weight: 500;
  src: url("~/assets/font/Shabnam/WebFonts/woff2/Shabnam-Medium.woff2")
      format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/
      url("~/assets/font/Shabnam/WebFonts/woff/Shabnam-Medium.woff")
      format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url("~/assets/font/Shabnam/WebFonts/ttf/Shabnam-Medium.ttf")
      format("truetype");
}
@font-face {
  font-family: "Shabnam WebFonts";
  font-style: normal;
  font-weight: 700;
  src: url("~/assets/font/Shabnam/WebFonts/woff2/Shabnam-Bold.woff2")
      format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/
      url("~/assets/font/Shabnam/WebFonts/woff/Shabnam-Bold.woff")
      format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url("~/assets/font/Shabnam/WebFonts/ttf/Shabnam-Bold.ttf")
      format("truetype");
}
