:root {
  --main-text-color: rgb(13, 36, 76);
  --main-text-color-08: rgba(13, 36, 76, 0.08);
  --main-text-color-1: rgba(13, 36, 76, 0.1);
  --main-text-color-2: rgba(13, 36, 76, 0.2);
  --main-text-color-3: rgba(13, 36, 76, 0.3);
  --main-text-color-4: rgba(13, 36, 76, 0.4);
  --main-text-color-5: rgba(13, 36, 76, 0.5);
  --main-text-color-6: rgba(13, 36, 76, 0.6);
  --main-text-color-7: rgba(13, 36, 76, 0.7);
  --main-text-color-8: rgba(13, 36, 76, 0.8);
  --main-text-color-9: rgba(13, 36, 76, 0.9);
  --second-color: rgb(223, 195, 139);
  --font: "IranYekan FarsiNumerals", "Vazir FarsiNumerals",
    "Shabnam FarsiNumerals", "IranYekan WebFonts", "Vazir WebFonts",
    "Shabnam WebFonts";
  --h1: 2rem;
  --h2: 1.5rem;
  --h3: 1.17rem;
  --h4: 1rem;
  --h5: 0.83rem;
  --h6: 0.67rem;
  --p: 1rem;
}
body {
  font-family: var(--font);
  cursor: context-menu;
  user-select: none;
  font-size: 100%;
  color: var(--main-text-color);
}
input,
button {
  font-family: inherit;
}
input:focus {
  outline: solid 2px var(--main-text-color-9);
}
a {
  color: currentColor;
  text-decoration: none;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
@media (min-width: 990px) {
  .widthbyside {
    width: calc(calc(100% / 4) - 1rem) !important;
  }
}
@media (min-width: 1400px) {
  .widthbyside {
    width: calc(calc(100% / 5) - 1rem) !important;
  }
}
