@font-face {
  font-family: "Vazir FarsiNumerals";
  font-style: normal;
  font-display: swap;
  font-weight: 100;
  src: url("~/assets/font/Vazir/FarsiNumerals/woff2/Vazirmatn-FD-Thin.woff2")
      format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/
      url("~/assets/font/Vazir/FarsiNumerals/woff/Vazirmatn-FD-Thin.woff")
      format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url("~/assets/font/Vazir/FarsiNumerals/ttf/Vazirmatn-FD-Thin.ttf")
      format("truetype");
}
@font-face {
  font-family: "Vazir FarsiNumerals";
  font-style: normal;
  font-display: swap;
  font-weight: 200;
  src: url("~/assets/font/Vazir/FarsiNumerals/woff2/Vazirmatn-FD-ExtraLight.woff2")
      format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/
      url("~/assets/font/Vazir/FarsiNumerals/woff/Vazirmatn-FD-ExtraLight.woff")
      format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url("~/assets/font/Vazir/FarsiNumerals/ttf/Vazirmatn-FD-ExtraLight.ttf")
      format("truetype");
}
@font-face {
  font-family: "Vazir FarsiNumerals";
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src: url("~/assets/font/Vazir/FarsiNumerals/woff2/Vazirmatn-FD-Light.woff2")
      format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/
      url("~/assets/font/Vazir/FarsiNumerals/woff/Vazirmatn-FD-Light.woff")
      format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url("~/assets/font/Vazir/FarsiNumerals/ttf/Vazirmatn-FD-Light.ttf")
      format("truetype");
}
@font-face {
  font-family: "Vazir FarsiNumerals";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url("~/assets/font/Vazir/FarsiNumerals/woff2/Vazirmatn-FD-Regular.woff2")
      format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/
      url("~/assets/font/Vazir/FarsiNumerals/woff/Vazirmatn-FD-Regular.woff")
      format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url("~/assets/font/Vazir/FarsiNumerals/ttf/Vazirmatn-FD-Regular.ttf")
      format("truetype");
}
@font-face {
  font-family: "Vazir FarsiNumerals";
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url("~/assets/font/Vazir/FarsiNumerals/woff2/Vazirmatn-FD-Medium.woff2")
      format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/
      url("~/assets/font/Vazir/FarsiNumerals/woff/Vazirmatn-FD-Medium.woff")
      format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url("~/assets/font/Vazir/FarsiNumerals/ttf/Vazirmatn-FD-Medium.ttf")
      format("truetype");
}
@font-face {
  font-family: "Vazir FarsiNumerals";
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: url("~/assets/font/Vazir/FarsiNumerals/woff2/Vazirmatn-FD-SemiBold.woff2")
      format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/
      url("~/assets/font/Vazir/FarsiNumerals/woff/Vazirmatn-FD-SemiBold.woff")
      format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url("~/assets/font/Vazir/FarsiNumerals/ttf/Vazirmatn-FD-SemiBold.ttf")
      format("truetype");
}
@font-face {
  font-family: "Vazir FarsiNumerals";
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url("~/assets/font/Vazir/FarsiNumerals/woff2/Vazirmatn-FD-Bold.woff2")
      format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/
      url("~/assets/font/Vazir/FarsiNumerals/woff/Vazirmatn-FD-Bold.woff")
      format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url("~/assets/font/Vazir/FarsiNumerals/ttf/Vazirmatn-FD-Bold.ttf")
      format("truetype");
}
@font-face {
  font-family: "Vazir FarsiNumerals";
  font-style: normal;
  font-weight: 800;
  src: url("~/assets/font/Vazir/FarsiNumerals/woff2/Vazirmatn-FD-ExtraBold.woff2")
      format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/
      url("~/assets/font/Vazir/FarsiNumerals/woff/Vazirmatn-FD-ExtraBold.woff")
      format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url("~/assets/font/Vazir/FarsiNumerals/ttf/Vazirmatn-FD-ExtraBold.ttf")
      format("truetype");
}
@font-face {
  font-family: "Vazir FarsiNumerals";
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src: url("~/assets/font/Vazir/FarsiNumerals/woff2/Vazirmatn-FD-Black.woff2")
      format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/
      url("~/assets/font/Vazir/FarsiNumerals/woff/Vazirmatn-FD-Black.woff")
      format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url("~/assets/font/Vazir/FarsiNumerals/ttf/Vazirmatn-FD-Black.ttf")
      format("truetype");
}
@font-face {
  font-family: "Vazir WebFonts";
  font-style: normal;
  font-display: swap;
  font-weight: 100;
  src: url("~/assets/font/Vazir/WebFonts/woff2/Vazirmatn-Thin.woff2")
      format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/
      url("~/assets/font/Vazir/WebFonts/woff/Vazirmatn-Thin.woff")
      format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url("~/assets/font/Vazir/WebFonts/ttf/Vazirmatn-Thin.ttf")
      format("truetype");
}
@font-face {
  font-family: "Vazir WebFonts";
  font-style: normal;
  font-display: swap;
  font-weight: 200;
  src: url("~/assets/font/Vazir/WebFonts/woff2/Vazirmatn-ExtraLight.woff2")
      format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/
      url("~/assets/font/Vazir/WebFonts/woff/Vazirmatn-ExtraLight.woff")
      format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url("~/assets/font/Vazir/WebFonts/ttf/Vazirmatn-ExtraLight.ttf")
      format("truetype");
}
@font-face {
  font-family: "Vazir WebFonts";
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src: url("~/assets/font/Vazir/WebFonts/woff2/Vazirmatn-Light.woff2")
      format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/
      url("~/assets/font/Vazir/WebFonts/woff/Vazirmatn-Light.woff")
      format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url("~/assets/font/Vazir/WebFonts/ttf/Vazirmatn-Light.ttf")
      format("truetype");
}
@font-face {
  font-family: "Vazir WebFonts";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url("~/assets/font/Vazir/WebFonts/woff2/Vazirmatn-Regular.woff2")
      format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/
      url("~/assets/font/Vazir/WebFonts/woff/Vazirmatn-Regular.woff")
      format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url("~/assets/font/Vazir/WebFonts/ttf/Vazirmatn-Regular.ttf")
      format("truetype");
}
@font-face {
  font-family: "Vazir WebFonts";
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url("~/assets/font/Vazir/WebFonts/woff2/Vazirmatn-Medium.woff2")
      format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/
      url("~/assets/font/Vazir/WebFonts/woff/Vazirmatn-Medium.woff")
      format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url("~/assets/font/Vazir/WebFonts/ttf/Vazirmatn-Medium.ttf")
      format("truetype");
}
@font-face {
  font-family: "Vazir WebFonts";
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: url("~/assets/font/Vazir/WebFonts/woff2/Vazirmatn-SemiBold.woff2")
      format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/
      url("~/assets/font/Vazir/WebFonts/woff/Vazirmatn-SemiBold.woff")
      format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url("~/assets/font/Vazir/WebFonts/ttf/Vazirmatn-SemiBold.ttf")
      format("truetype");
}
@font-face {
  font-family: "Vazir WebFonts";
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url("~/assets/font/Vazir/WebFonts/woff2/Vazirmatn-Bold.woff2")
      format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/
      url("~/assets/font/Vazir/WebFonts/woff/Vazirmatn-Bold.woff")
      format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url("~/assets/font/Vazir/WebFonts/ttf/Vazirmatn-Bold.ttf")
      format("truetype");
}
@font-face {
  font-family: "Vazir WebFonts";
  font-style: normal;
  font-weight: 800;
  src: url("~/assets/font/Vazir/WebFonts/woff2/Vazirmatn-ExtraBold.woff2")
      format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/
      url("~/assets/font/Vazir/WebFonts/woff/Vazirmatn-ExtraBold.woff")
      format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url("~/assets/font/Vazir/WebFonts/ttf/Vazirmatn-ExtraBold.ttf")
      format("truetype");
}
@font-face {
  font-family: "Vazir WebFonts";
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src: url("~/assets/font/Vazir/WebFonts/woff2/Vazirmatn-Black.woff2")
      format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/
      url("~/assets/font/Vazir/WebFonts/woff/Vazirmatn-Black.woff")
      format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url("~/assets/font/Vazir/WebFonts/ttf/Vazirmatn-Black.ttf")
      format("truetype");
}
